
Library/ArtifactDB
Library/Artifacts/00/00512331384b04110c25326cc239f422
Library/Artifacts/1b/1b4339b779a61813f012fbd796b07420
Library/Artifacts/5d/5dbcd4620f8a420e1029fdd2b18b695b
Library/Artifacts/97/976b61bfd90f6587695adb904a90eb1e
Library/Artifacts/9c/9c6a2499b3b6780253475e9c44370bf0
Library/Artifacts/ab/ab08289d061f008d62c1d943a73e5c29
Library/Artifacts/d6/d6af2df8e99804dd17aa7f6024dae522
Library/Artifacts/f2/f27c057ac26fcebdba7682b05f997d0a
Library/Artifacts/f7/f748db6fbd4b3535320d89ecda91b240
Library/CurrentLayout-default.dwlt
Library/expandedItems
Library/LastSceneManagerSetup.txt
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/SourceAssetDB-lock
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
